@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
	--font-family: "Roboto", sans-serif;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	padding: 0;
	background-color: #111111;
	max-width: 1800px;
}
/* ================= Navbar section start ========================*/
.navbar {
	width: 100%;
}
.navbar .nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 1rem 0;
	align-items: center;
}
.navbar-brand {
	padding-left: 3rem;
}
.nav .nav-links {
	display: flex;
	padding-right: 6rem;
}
.nav-links .link-item a {
	text-decoration: none;
	color: #fff;
	padding: 1rem 2rem;
	font-family: var(--font-family);
	font-size: 1rem;
}
.link-item.login a {
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
	border-radius: 10px;
}
/*============================= end =================================================*/

/*============================= Home section start ===============================*/

.home-title {
	width: 70%;
}
.home-title h1 {
	font-size: 150px;
	color: #fff;
	font-family: "GrandSlang+Roman",sans-serif;
	line-height: 150px;
	padding-left: 5rem;
	font-weight: 400;
	background: radial-gradient(
		circle at center,
		#eb9038 5%,
		#f3c0c6 15%,
		#f3c3cf 10%,
		#8dc4f3 85%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container-home .row {
	display: flex;
	justify-content: space-between;
	padding: 1rem 5rem;
}
.imgcard {
	border-radius: 30px;
	overflow: hidden;
}
.imgcard img {
	border-radius: 30px;
}
.imgcard:nth-child(2),
.imgcard:nth-child(4) {
	margin-top: 2rem;
}
.imgcard:nth-child(3) {
	margin-top: 4rem;
}

/*=============================  end ==================================================*/

/*============================= Container2 section start ===============================*/

.container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.small-title {
	font-size: 34px;

	color: #fff;
	width: 50%;
	font-family: var(--font-family);
	text-align: center;
	background: radial-gradient(
		circle at center,
		#eb9038 1%,
		#f3c0c6 15%,
		#f3c3cf 10%,
		#8dc4f3 85%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h4 {
	font-weight: 400;
}
.unlock-btn {
	width: 100%;
	display: flex;
	justify-content: center;
}
.unlock-btn a {
	text-decoration: none;
	color: #000;
	background: #fff;
	padding: 0.5rem 1.5rem;
	text-transform: uppercase;
	font-family: var(--font-family);
	font-size: 14px;
	border-radius: 5px;
	margin-bottom: 4rem;
}
.ticket {
	margin-bottom: 5rem;
}
/*=============================  end ==========================================================*/

/*============================= Creators Container section start ===============================*/

.creators {
	width: 100%;
	height: 300px;
	max-height: 300px;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.creators p {
	text-transform: uppercase;
	margin-bottom: 2rem;
}

/*=============================  end ====================================================*/

/*============================= Custom revenue section start===============================*/
.custom {
	min-height: 890px;
	height: 890px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(
		farthest-corner at 0px 0px,
		#8dc4f3,
		#ea974e,
		#e4c3d4 90%
	);
}
.custom .wrapper {
	width: 1250px;
	height: 590px;
	display: flex;
}
.img-custom {
}
.title-custom {
	width: 540px;
	height: 350px;
	position: absolute;
	top: 35%;
	right: 10%;
	font-family: var(--font-family);
}
.title-custom p:nth-child(1) {
	font-size: 12px;
	text-transform: uppercase;
}
.title-custom p:nth-child(2) {
	font-size: 72px;
	text-transform: capitalize;
	line-height: 72px;
	margin: 1rem 0;
	padding: 0 0;
}
.title-custom p:nth-child(3) {
	font-size: 24px;
}
/*=============================  end ================================================*/
/*============================= Products section start===============================*/
.products {
	min-height: 890px;
	height: 890px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.products .wrapper {
	width: 1270px;
	height: 430px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper .box {
	height: 100%;
	width: 540px;
	color: #fff;
	font-family: var(--font-family);
	text-align: center;
}
.box p:nth-child(1) {
	font-size: 12px;
	text-transform: uppercase;
}
.box p:nth-child(2) {
	font-size: 72px;
	text-transform: capitalize;
	padding: 0 3rem;
	margin: 1rem 0;
}
.box p:nth-child(3) {
	font-size: 24px;
}
/*============================= end ==========================================================*/

/*============================= Selling expirence section start===============================*/

.container {
	background: #fff;
	padding: 10rem 4rem;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.container .wrapper1 {
	font-family: var(--font-family);
	margin-bottom: 4rem;
}
.wrapper1 p:nth-child(1) {
	font-size: 12px;
	text-transform: uppercase;
}
.wrapper1 p:nth-child(2) {
	font-size: 72px;
	padding-right: 50%;
	padding-left: 0;
	margin: 0;
	text-transform: capitalize;
}
/*==========================================*/
.wrapper2 {
	display: flex;
	margin-bottom: 5rem;
}
.wrapper2 .col {
	width: 50%;
}
.wrapper2 .col p {
	font-size: 24px;
	width: 70%;
	padding: 0 2rem 2rem;
	font-family: var(--font-family);
}
/* =========================================== */
.wrapper3 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 4rem;
}
.wrapper3 .col {
	width: 33%;
	text-align: left;
	position: relative;
	display: inline-block;
}
.wrapper3 .col::after {
	content: "";
	position: absolute;
	width: 36px;
	height: 36px;
	top: 0;

	border-radius: 50%;
}
.col:nth-child(1)::after {
	background: #fcecdc;
}
.col:nth-child(2)::after {
	background: #eaf4fc;
}
.col:nth-child(3)::after {
	background: #fbedf1;
}
.wrapper3 .col p:nth-child(1) {
	font-size: 36px;
	margin: 0;
	width: 100%;
	padding-top: 4rem;
}
.wrapper3 .col p:nth-child(2) {
	font-size: 16px;
	margin-right: 0;
	margin-top: 2rem;
	width: 80%;
}

/*============================= end =====================================*/

/*============================ Join section start ============================= */
.join-container {
	min-height: 720px;
	height: 720px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3d4853;
}
.join-container .wrapper {
	min-height: 480px;
	height: 480px;
	display: flex;
	position: relative;
}
.img-box {
	position: relative;
	padding-right: 3rem;
}
.title-box {
	width: 730px;
	height: 310px;
	margin-right: -200px;
	color: #fff;
	left: 0;
	z-index: 2;
}
.title-box p {
	color: #fff;
	font-size: 64px;
	font-family: var(--font-family);
}
.title-box a {
	text-decoration: none;
	color: #000;
	background: #fff;
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-family: var(--font-family);
	font-size: 14px;
	border-radius: 5px;
}
.img-box img:nth-child(2) {
	position: absolute;
	bottom: -5rem;
	right: -3rem;
}

/*============================= end =====================================*/
/*============================= Footer section start =============================*/
.footer-container {
	min-height: 510px;
	height: 510px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #3d4853;
}
.footer-container .foot-wrapper {
	min-height: 480px;
	height: 480px;
	width: 1250px;
	display: flex;
	flex-wrap: nowrap;
}
.footer-container .foot-wrapper .col {
	width: 20%;
	height: inherit;
	margin: 0;
}
.col.logo img {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 24px;
}
.foot-wrapper .col:nth-child(1) p {
	color: #bdcad8;
	font-family: var(--font-family);
	font-size: 14px;
	line-height: 28px;
}
.col li {
	list-style-type: none;
	color: #fff;
	font-family: var(--font-family);
	font-size: 14px;
	line-height: 28px;
}
.col a {
	display: block;
	text-decoration: none;
	color: #fff;
}
.col ul li:nth-child(1) {
	font-size: 14px;
	color: #bdcad8 !important;
	font-family: var(--font-family);
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 2.5rem;
}
.col i {
	font-size: 32px;
	color: #fff;
	padding: 0 10px;
}
.col a {
	display: inline-block;
}
.col.logo {
	display: flex;
	flex-direction: column;
}
.footer-container .foot-wrapper .col .copy {
	font-size: 14px;
	color: #fff;
	margin-top: 15rem;
}
.col .campaign {
	padding: 0.6rem 1.4rem;
	font-size: 14px;
	font-family: var(--font-family);
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-left: 2.4rem;
	margin-top: 6.5rem;
	transition: 0.2s ease;
}
.col .campaign:hover {
	background-color: #fff;
	color: #3d4853;
}
.resources .new {
	background: #495563;
	padding: 0 2rem 0 0.6rem;
	margin-top: 1rem;
	border-radius: 10px;
	margin-left: -0.6rem;
	margin-right: -20px;
	position: relative;
}
.resources .new:after {
	position: absolute;
	top: 5px;
	right: 5px;
	content: "NEW";
	font-size: 12px;
	font-weight: 600;
	transform: skewY(-10deg);
	padding: 2px 2px 2px 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 35px;
	height: 15px;
	margin-left: 10px;
	background: #fca164;
	color: #3d4853;
	
}
/*============================= end =====================================*/
